<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>| Admin | ZooParc</title>
    {% block headLinks %}
        <link rel="stylesheet" href="/css/font-awesome.css"/>
        <link rel="stylesheet" href="/css/capicon.css"/>
        <link rel="stylesheet" href="/css/admin/master.css"/>
    {% endblock %}
</head>
<body>
{% block main %}

{% endblock %}
</body>
</html>
