{% extends "ZPBAdminCommonBundle:Layouts:master.html.twig" %}
{% block title %}Les utilisateurs{% endblock %}
{%  set active_main_menu = "general" %}
{% set active_mainsidebar = active_mainsidebar|default("none") %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="column-12">
                <div class="page-header">
                    <h1>Les utilisateurs <small>{% block page_small_title %}{% endblock %}</small></h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column-3">
                {{ render(controller("ZPBAdminUserBundle:Navs:mainSidebar", {active_mainsidebar:active_mainsidebar })) }}
            </div>
            <div class="column-9">
                {% block content %}

                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
