{% extends "ZPBAdminMediatekBundle:Layouts:master.html.twig" %}
{% block page_small_title %}Liste{% endblock %}
{% set active_mainsidebar = "list_img" %}
{% set mainSection = "Images" %}
{% block content %}
    <p>liste images</p>
{% endblock %}
