{% extends "ZPBAdminMediatekBundle:Layouts:master.html.twig" %}
{% block page_small_title %}Upload{% endblock %}
{% set active_mainsidebar = "img_upload" %}
{% set mainSection = "Images" %}
{% block content %}
    <p>upload images</p>
{% endblock %}
